@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-coming-soon: var(--font-coming-soon);
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  button {
    -webkit-appearance: none; /* ← fixes Safari */
    appearance: none;
  }

  body {
    font-family: var(--font-inter);
  }
}
